
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#about {
    background-image: url(./img/wengang-zhai-Q54761KjjnI-unsplash.jpg);
    height:500vh;
    width:100%;
}

/* 看更多按鈕 */

a .button{
    text-decoration: none;
    border: oldlace;
    color:black;
}